.App {
  display: flex;
  gap: 2rem;
}

.new-list-btn {
  height: fit-content;
  margin-top: 1.75rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  color: gray;
  cursor: pointer;
}
